auto-save-list/

bookmarks

.cache/
config.el

.dap-breakpoints

elfeed.stats

eln-cache/
elpa/

eshell/

history

recentf
init.el

.lsp*
ltximg/

network-security.data

org-caldav*
.org-id-locations
org-roam.db

places
projects
projectile-bookmarks.eld
projectile.cache

prescient-data

recentf

spell-fu*

straight/build/
straight/modified/
straight/repos/
straight/build-cache.el


tmp
tramp
transient/
.tutor/

url/

places

workspace/